

  @font-face {
    font-family: 'Star Jedi';
    src: url('/workspaces/rvpacheco-latam16-starwars/src/fonts/StarJedi-DGRW.ttf') format('truetype'); /* Ajusta la ruta al archivo de fuente según la ubicación en tu proyecto */
  }

  .category-title {
    color: black;
    font-family: 'Star Jedi', sans-serif;
  }